body {
  height: 100vh;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Georgia, serif;
  color: #c6c8ca;
}

body main {
  font-size: 10vw;
}
